Node Red flow.txt
[{"id":"120e0e67.83dec2","type":"tab","label":"AI Recruitment","disabled":false,"info":""},{"id":"462026cd.fcc568","type":"watson-conversation-v1","z":"120e0e67.83dec2","name":"Recruiter","workspaceid":"82516e30-fe7c-42b9-894a-bac7627461e8","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/50e10cf8-38e7-4bd4-bcbb-f3aa332f2216","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["8f81d5bb.65d7c8","5837e189.cccab"]],"l":false},{"id":"589b1e3e.eff24","type":"function","z":"120e0e67.83dec2","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["462026cd.fcc568","d611e6a8.0a6dd8"]],"l":false},{"id":"a604e2a.ac92d2","type":"ui_form","z":"120e0e67.83dec2","name":"","label":"","group":"4536cb09.334e54","order":1,"width":8,"height":3,"options":[{"label":" Interview Round","value":"","type":"text","required":false,"rows":null},{"label":"    ","value":"text","type":"text","required":true,"rows":null}],"formValue":{"":"","text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["589b1e3e.eff24"]],"l":false},{"id":"8f81d5bb.65d7c8","type":"function","z":"120e0e67.83dec2","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload =msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["4ab4c826.fefab8"]],"l":false},{"id":"d611e6a8.0a6dd8","type":"ui_text","z":"120e0e67.83dec2","group":"4536cb09.334e54","order":2,"width":8,"height":3,"name":"","label":"Interviewer :","format":"{{msg.payload}}","layout":"row-spread","x":395,"y":360,"wires":[],"l":false},{"id":"4ab4c826.fefab8","type":"ui_text","z":"120e0e67.83dec2","group":"4536cb09.334e54","order":3,"width":8,"height":3,"name":"","label":"Candidate:                               ","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":360,"wires":[]},{"id":"5837e189.cccab","type":"debug","z":"120e0e67.83dec2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":80,"wires":[]},{"id":"4536cb09.334e54","type":"ui_group","z":"","name":"Recruiter","tab":"f36badad.0a3df","order":2,"disp":true,"width":"8","collapse":false},{"id":"f36badad.0a3df","type":"ui_tab","z":"","name":"AI","icon":"dashboard","disabled":false,"hidden":false}]